In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('../../../data_jokes_eng_new.csv')
data = data.reset_index()
data = data.reset_index()

In [53]:
def anecdote_reader(series,n_gramm):
    res = []
    for i in range(len(series)):
        temp = []
        for j in range(len(series[i].split())):
            if j %(16*n_gramm) == 0:
                temp.append(series[i].split()[j - 16*n_gramm:j])
        res.append(temp)
    return np.asarray(res,dtype=object)

In [54]:
a_1g = anecdote_reader(data['Jokes 1-gramm'],1)

In [27]:
len(a_1g)

NameError: name 'a_1g' is not defined

231580

,index,ID,Joke,Jokes,Jokes_more_letters,Jokes 1-gramm
0,0,1,"[me narrating a documentary about narrators] ""...",me narrating a documentary about narrators ...,narrating documentary about narrator can not h...,1.0300720805 4.4687745506 4.7609708806 9.521...
1,1,2,Telling my daughter garlic is good for you. Go...,telling my daughter garlic is good for you go...,telling daughter garlic good for you good immu...,0.00148774 0.00024677 0.00147043 0.00087011 0...
2,2,3,I've been going through a really rough period ...,i have been going through a really rough perio...,have been going through really rough period wo...,1.4365914500 1.4525173200 2.9588745301 1.14...
3,3,4,"If I could have dinner with anyone, dead or al...",if i could have dinner with anyone dead or al...,could have dinner with anyone dead alive would...,0.07458526 0.05456136 0.14841935 0.0109398...
4,4,5,Two guys walk into a bar. The third guy ducks.,two guys walk into a bar the third guy ducks,two guy walk into bar the third guy duck,0.0021298 0.00030663 0.00026703 0.00787754 ...
...,...,...,...,...,...,...
231575,231652,231653,The Spicy Sausage by Delia Katessen,the spicy sausage by delia katessen,the spicy sausage delia katessen,3.6493119401 6.9319499602 1.0823094702 3.311...
231576,231653,231654,"TIL That I Shouldn't have gone to law school, ...",til that i shouldn not have gone to law school...,til that shouldn not have gone law school beca...,0.0016489 0.00057143 0.00053609 0.00063085 ...
231577,231654,231655,What did the RAM stick say to the politician? ...,what did the ram stick say to the politician ...,what did the ram stick say the politician,0.01681284 0.01235162 0.00460757 0.01142867 0...
231578,231655,231656,what do you call a play about victorian era me...,what do you call a play about victorian era me...,what you call play about victorian era menstru...,0.01681284 0.01235162 0.00460757 0.01142867 0...
231579,231656,231657,Calculus should be taught in every high school...,calculus should be taught in every high school...,calculus should taught every high school aroun...,0.0014352 0.00154732 0.00018003 0.00197948 ...